<!DOCTYPE html>
<html>
<head>
    <title>Embedded Map</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        /* Set the height of the map container */
        #map {
            height: 75vh;
            width: 75vh;
            display: flex;
            justify-content: center;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1>Embedded Map</h1>
    <div id="map"></div>
    <div id="text">
        <h2>Current Position: <span id="current-position">{{ current_position }}</span></h2>
        <h2>Target Position: <span id="target-position">{{ target_position }}</span></h2>
    </div>
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([42.3447, -70.9833], 12);
        var marker;

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
        }).addTo(map);

        function onMapClick(e) {
            if (marker) {
                map.removeLayer(marker);
            }

            marker = L.marker(e.latlng).addTo(map);
            marker.bindPopup("Coordinates: " + e.latlng.toString()).openPopup();

            // Send latitude and longitude to the server
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/marker");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var currentPosElement = document.getElementById("current-position");
                    currentPosElement.textContent = response.current_position;
                    var targetPosElement = document.getElementById("target-position");
                    targetPosElement.textContent = response.target_position;
                }
            };
            xhr.send(JSON.stringify(e.latlng));
        }

        map.on('click', onMapClick);
    </script>
</body>
</html>
